.affairs {
    /*background-color: yellowgreen;*/
    display: block;
    justify-content: center;
    color: #2a6b1c;
    margin-left: 15px;
}

.btn {
    /*background-color: #4CAF50; !* Green *!*/
    /*border: */
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    transition-duration: 0.2s;

}

.btn:hover {
    background-color: white;
    color: black;
}

.btnAll {
    background-color: yellowgreen;
    border: 2px solid yellowgreen;
}

.btnHigh {
    background-color: violet;
    border: 2px solid violet;
}

.btnMiddle {
    background-color: blue;
    border: 2px solid blue;
}

.btnLow {
    background-color: orange;
    border: 2px solid orange;
}

.active {
    border: 3px solid black;
}