.btn {
    border-radius: 5px;
    color: red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    transition-duration: 0.2s;

}

.btn:hover {
    background-color: white;
    color: black;
}

/*.btnAll {
    background-color: yellowgreen;
    border: 2px solid yellowgreen;
}

.btnHigh {
    background-color: red;
    border: 2px solid red;
}

.btnMiddle {
    background-color: blue;
    border: 2px solid blue;
}

.btnLow {
    background-color: orange;
    border: 2px solid orange;
}*/


.affair {
    color: black;
    font-size: 20px;
    width: 400px;

    display: flex;
    justify-content: space-between;


    margin-left: 15px;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
}

.p1 {
    width: 130px;
    text-align: left;
}

.p2 {
    width: 100px;
    text-align: left;
}


/*
td {
    text-align: right;
}
*/
