/*
*,
*::before,
*::after {
    box-sizing: border-box;
}

.select {
    margin: 10px;
    color: cornflowerblue;
    font-weight: bold;

    !*appearance: none;*!
    !*background-color: transparent;*!
    !*border: none;*!
    padding: 0 1em 0 0;
    !*margin: 0;*!
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    outline: none;
}

.select::-ms-expand {
    display: none;
}*/


/* <select> styles */
.select {
    /* Reset */
    margin: 10px;
    appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 25px) calc(1em + 2px),
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.2em;
    background-repeat: no-repeat;

    border: 0;
    outline: 0;
    /*font: inherit;*/
    font-size: 18px;
    font-weight: bold;
    /* Personalize */
    min-width: 5em;
    height: 2em;
    padding: 0.1em 3em 0.1em 0.5em;
    /*padding-left: 0.1em;*/
    color: cornflowerblue;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 200, 0.2);
    cursor: pointer;
}

.select option {
    color: inherit;
    background-color: #320a28;
}

/* Remove focus outline */
.select option:focus {
    outline: none;
}

/* Remove IE arrow */
.select option::-ms-expand {
    display: none;
}